body{
    text-align: center;
    background-color: black;
}
h1{
    color: yellow;
    font-family: "Audiowide", sans-serif;
    font-weight: bolder;
}
h2{
    color: blue;
    font-family: monospace;
    font-weight: bold;
}
.w{
    color: cyan;
    font-family: monospace;
    font-weight: bold;
}
p{
    color: orange;
    font-weight: 900;
    font-family: cursive;
}
#login{
    border-radius: 50px;
    background-color: gold;
    color: red;
    height: 250px;
    width: 390px;
    font-weight: bold;
}
#intro{
    color: gold;
    font-family: fantasy;
    font-size: medium;
}
.copy_right_footer{
    position:fixed;
    bottom:0;
    width:100%;
    background-color: red;
    color:blue;
    font-size:19px;
    font-weight:bolder;
}